/**
 * Styles for CONTROL_LABEL Control
 */
.NAMESPACE-lzb-control_CONTROL_NAME {
    padding: 15px;
    background-color: #e9e9ea;
    border-radius: 4px;

    > .components-base-control {
        margin-bottom: 10px !important;

        + p {
            margin-bottom: 0;
            font-size: .8em;
            opacity: .6;
        }
    }
}
